* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.disabled {
  pointer-events: none;
}

#__APP {
  width: 100%;
  height: 100%;
}

.iframe-container {
  width: 100%;
  height: 75vh;
}

.page-container {
  border-top: 6px groove green;
  padding: 12px 0 60px 0;
}

// SCROLL BAR
.invisible-scroll-bar::-webkit-scrollbar {
  display: none;
}

.invisible-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

// TIME LINE
.time-line {
  width: 100%;
  overflow-x: auto;

  .group-wrapper {
    width: 100%;
    border-left: 3px solid green;
  }

  .item {
    padding: 0 40px 0 12px;
    min-width: 320px;
  }

  .itemMiddle {
    &.is-loss {
      background-color: rgba(153, 0, 0, 0.3);
    }
  }
}